In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

%matplotlib inline

In [ ]:
data = pd.read_csv("breast.csv")
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [ ]:
data=data.drop(["Sample code number"],axis=1)

In [ ]:
data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,5,10,10,3,7,3,8,10,2,4
681,4,8,6,4,3,4,10,6,1,4
682,4,8,8,5,4,5,10,4,1,4

In [ ]:
data.shape

(683, 10)

In [ ]:
pd.set_option("display.float", "{:.2f}".format)
data.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,683.00,683.00,683.00,683.00,683.00,683.00,683.00,683.00,683.00,683.00
mean,4.44,3.15,3.22,2.83,3.23,3.54,3.45,2.87,1.60,2.70
std,2.82,3.07,2.99,2.86,2.22,3.64,2.45,3.05,1.73,0.95
min,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,2.00
25%,2.00,1.00,1.00,1.00,2.00,1.00,2.00,1.00,1.00,2.00
50%,4.00,1.00,1.00,1.00,2.00,1.00,3.00,1.00,1.00,2.00
75%,6.00,5.00,5.00,4.00,4.00,6.00,5.00,4.00,1.00,4.00
max,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,4.00

In [ ]:
data.Class.value_counts()

2    444
4    239
Name: Class, dtype: int64

In [ ]:
data.isna().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [ ]:
data.corr()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
Clump Thickness,1.00,0.64,0.65,0.49,0.52,0.59,0.55,0.53,0.35,0.71
Uniformity of Cell Size,0.64,1.00,0.91,0.71,0.75,0.69,0.76,0.72,0.46,0.82
Uniformity of Cell Shape,0.65,0.91,1.00,0.69,0.72,0.71,0.74,0.72,0.44,0.82
Marginal Adhesion,0.49,0.71,0.69,1.00,0.59,0.67,0.67,0.60,0.42,0.71
Single Epithelial Cell Size,0.52,0.75,0.72,0.59,1.00,0.59,0.62,0.63,0.48,0.69
Bare Nuclei,0.59,0.69,0.71,0.67,0.59,1.00,0.68,0.58,0.34,0.82
Bland Chromatin,0.55,0.76,0.74,0.67,0.62,0.68,1.00,0.67,0.35,0.76
Normal Nucleoli,0.53,0.72,0.72,0.60,0.63,0.58,0.67,1.00,0.43,0.72
Mitoses,0.35,0.46,0.44,0.42,0.48,0.34,0.35,0.43,1.00,0.42
Class,0.71,0.82,0.82,0.71,0.69,0.82,0.76,0.72,0.42,1.00

In [ ]:
x=data.iloc[:,:-1]

In [ ]:
x

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1
679,2,1,1,1,2,1,1,1,1
680,5,10,10,3,7,3,8,10,2
681,4,8,6,4,3,4,10,6,1
682,4,8,8,5,4,5,10,4,1

In [ ]:
y=data["Class"]

In [ ]:
y

0      2
1      2
2      2
3      2
4      2
      ..
678    2
679    2
680    4
681    4
682    4
Name: Class, Length: 683, dtype: int64

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2

In [ ]:
from sklearn.feature_selection import f_classif

In [ ]:
model=SelectKBest(k=9)

In [ ]:
model.fit(x,y)

SelectKBest(k=9)

In [ ]:
score=pd.DataFrame(model.scores_,columns=['score'])

In [ ]:
score

    score
0  711.42
1 1406.13
2 1417.64
3  677.88
4  622.16
5 1426.24
6  921.01
7  727.47
8  148.79

In [ ]:
name_col=pd.DataFrame(x.columns)

In [ ]:

top_f=pd.concat([name_col,score],axis=1)

In [ ]:
top_f

                             0   score
0              Clump Thickness  711.42
1      Uniformity of Cell Size 1406.13
2     Uniformity of Cell Shape 1417.64
3            Marginal Adhesion  677.88
4  Single Epithelial Cell Size  622.16
5                  Bare Nuclei 1426.24
6              Bland Chromatin  921.01
7              Normal Nucleoli  727.47
8                      Mitoses  148.79